###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
/references/Appendix A - Extensive List of Govt Agencies.xlsx
/references/Certified Agencies.xlsx
/references/Common Use Case.svg
/references/DAP Quality Management System Specification V2.docx
/references/DAP Quality Management System Specification.docx
/references/DAP-prototype.html
/references/DAP-prototype_orig.html
/references/DBMS Concept.pdf
/references/Database of ISO Certified Agencies (4th Recognition Ceremony).xlsx
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/19142331_1697374500276236_823556212_n.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/Announcement_Jojo-Caronan-as-DAP-President.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/Banner-2.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/Basic-Policy-Process_Slider.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/Course-on-Advanced-ME.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/DAP-WEB-MMC-21-1.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/EOIGQMPWebHeader.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/GSPDM-slider.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/InnoLab-PO-Webheader.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/InnoLab-PO-Webheader2.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/Social-Sidebar-Min.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/Training-Calendar-2019_CFG-Slider.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/analytics.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/analytics.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/api-request.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/api-request.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/backbone.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/backbone.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/corporate-governance-seal-footer.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/dap-pres-jojo-caronan.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/default-thumb.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/flexslider.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/foi_logo_web.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/font-awesome.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/font-awesome.min.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/fonts.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer-source.html
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer-source_data/foundation.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer-source_data/govph-seal-mono-footer.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer-source_data/iframeResizer.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer-source_data/js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer-source_data/normalize.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/footer.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/foundation.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/foundation.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/foundation.min(1).css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/foundation.min.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/foundation.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/genericons.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/govph-seal-mono-footer.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/gspdm_slider.jpg
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/gwtpst.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/gwtpst.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/iframeResizer.contentWindow.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery-migrate.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery-migrate.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery.flexslider-min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery.js(1).download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery_002.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jquery_003.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/jsonp_unix.php
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/normalize.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/pagenavi-css.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/public.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/saved_resource
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/scripts.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/scripts.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/sdk.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/sdk.js(1).download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/sdk.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/sdk_002.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/skip-link-focus-fix.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/skip-link-focus-fix.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/style.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/styles.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/styles.min.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/theme.css
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/theme.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/theme.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/transparency-seal-160x160.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/underscore.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/underscore.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/website-logo.png
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-api.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-api.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-embed.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-embed.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-emoji-release.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-emoji-release.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-slimstat.js
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wp-slimstat.min.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/wpgmza_data.js.download
/references/Development Academy of the Philippines - The National Development and Productivity Organization of the Philippines_files/xd_arbiter.html
/references/FoundationCSS/agency.html
/references/FoundationCSS/blog-simple.html
/references/FoundationCSS/blog.html
/references/FoundationCSS/css/foundation.min.css
/references/FoundationCSS/ecommerce.html
/references/FoundationCSS/img/image550x550.png
/references/FoundationCSS/index.html
/references/FoundationCSS/marketing-site.html
/references/FoundationCSS/news-magazine.html
/references/FoundationCSS/portfolio.html
/references/FoundationCSS/product-page.html
/references/FoundationCSS/real-estate.html
/references/Level3UseCases.png
/references/Special Use Case.svg
/references/Special Use Case2.svg
